html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn{
    padding:10px 20px;
    margin:0 10px;
    border:none;
    border-radius:5px;
    color:#fff;
    direction:rtl;
}
.btn span{
    padding-right:5px;
}
.submit{
    background:#0c7e3c;
}
.update{
    background:#258cfb;
}
.delete{
    background:#ff0000;
}
div{margin-bottom:10px;}
.item{
    background:#dedede;
}
.item div{
    padding:10px;
}
.AuthenticatedUser{
    background:#258cfb;
    color:#fff;
    padding:10px;
    margin:10px 0;
    text-align:center;
}